<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038619686812-assbe0hd4c11kg76ab08hv1buvoukdvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038619686812-assbe0hd4c11kg76ab08hv1buvoukdvk</string>
	<key>API_KEY</key>
	<string>AIzaSyDzc1VcZnKxwuPSQCFlyoGQnE6Ce7GJvfE</string>
	<key>GCM_SENDER_ID</key>
	<string>1038619686812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betharbel</string>
	<key>PROJECT_ID</key>
	<string>beth5-f693d</string>
	<key>STORAGE_BUCKET</key>
	<string>beth5-f693d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038619686812:ios:f240ff251453e3aa077a59</string>
</dict>
</plist>